@import './vars.scss';

*,
*::before,
*::after {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-weight: normal;
}

body {
    min-height: 100vh;
    font-family: var(--main-font), sans-serif;
    font-size: 16px;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;


    p, select, a {
        font-size: 12px;
    }

    section {

    }

    a {
        text-decoration: none;
    }

    button {
        background: none;
        border: none;
        cursor: pointer;
        width: fit-content;
        font-weight: 600;
        border-radius: 5px;

        &.card {
            background-color: black;
            color: white;
            padding: 8px 25px;

        }
    }

    select {
        background-color: #f8f8f8;
        color: black;
        padding: 5px;
        border: 1px solid rgba(128, 128, 128, 0.28);
        cursor: pointer;

        option {

        }
    }
}
